{% extends "/_layouts/default.html" %}
{% block content %}

<h1>Capture</h1>

<h2>links</h2>

<form action="" method="POST">
  <p> docker_host is <strong> {{ docker_host_url }} </strong></p>
  <div>
    <label for="url">url</label>
    <input type="text" name="url" id="url" value="{{ data.url or docker_host_url }}">
  </div>
  <div>
    <label for="xpath">xpath</label>
    <input type="text" name="xpath" id="xpath" value="{{ data.xpath or '//html'}}">
  </div>
  <input type="submit" value="Capture">
</form>

<div>
  <table class="table table-bordered">
    {% for img in data.ss %}
    <tr>
      <td> {{ data.ss.index(img) }} </td>
      <td>
        <img class="border border-light" src="data:image/png;base64,{{ img }}" />
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<style type="text/css">
</style>
{% endblock %}
